<div class="demo coursemeal">
    <!-- Meilleur pc 2K-->
    <div class="coursemeal__div ">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source media="(min-width: 767px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <img src="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg" alt="Appetizer" >
        </picture>     
        
        <div class="coursemeal-info">
            <a href="<%= best4K_path %>" class="coursemeal-info__link">Meilleur PC <FONT COLOR="#ff0000">4K MAX FPS</FONT> ≈6100€</a>
        </div>
    </div>

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
            <a href="<%= best4KLOW_path %>" class="coursemeal-info__link">Meilleur PC <FONT COLOR="#ff0000">4K Evolutif Intel 13th gen DDR5 </FONT>≈7000€</a>
        </div>            
    </div>  

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://storage-asset.msi.com/global/picture/news/2019/mb/mystic-light-20190415-4.jpg">
            <source media="(min-width: 767px)" srcset="https://storage-asset.msi.com/global/picture/news/2019/mb/mystic-light-20190415-4.jpg">
            <source srcset="https://storage-asset.msi.com/global/picture/news/2019/mb/mystic-light-20190415-4.jpg">
            <img src="https://storage-asset.msi.com/global/picture/news/2019/mb/mystic-light-20190415-4.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
            <a href="<%= pc4k1_path %>" class="coursemeal-info__link">PC <FONT COLOR="#ff0000">4K MAX FPS BASIQUE </FONT>≈3300€</a>
        </div>            
    </div>  
</div>    