<div class="demo coursemeal">
    <!-- Meilleur pc 2K-->
    <div class="coursemeal__div ">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://overclocking.com/wp-content/medias/2021/08/DDR5-module.jpg">
            <source media="(min-width: 767px)" srcset="https://overclocking.com/wp-content/medias/2021/08/DDR5-module.jpg">
            <source srcset="https://overclocking.com/wp-content/medias/2021/08/DDR5-module.jpg">
            <img src="https://overclocking.com/wp-content/medias/2021/08/DDR5-module.jpg" alt="Appetizer" >
        </picture>     
        
        <div class="coursemeal-info">
            <a href="<%= bestRAMDDR5_path %>" class="coursemeal-info__link">Meilleure <FONT COLOR="#ff0000">DDR5</FONT></a>
        </div>
    </div>

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://www.xda-developers.com/files/2021/11/Best-DDR4-RAM.jpg">
            <source media="(min-width: 767px)" srcset="https://www.xda-developers.com/files/2021/11/Best-DDR4-RAM.jpg">
            <source srcset="https://www.xda-developers.com/files/2021/11/Best-DDR4-RAM.jpg">
            <img src="https://www.xda-developers.com/files/2021/11/Best-DDR4-RAM.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
            <a href="<%= bestRAM_path %>" class="coursemeal-info__link">Meilleure <FONT COLOR="#ff0000">DDR4</FONT></a>
        </div>            
    </div>  

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg">
            <source media="(min-width: 767px)" srcset="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg">
            <source srcset="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Bruit_thermique.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
            <a href="" class="coursemeal-info__link"></a>
        </div>            
    </div>  
</div>    