<div class="demo coursemeal">
    <!-- Meilleur GPU 4K-->
    <div class="coursemeal__div ">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source media="(min-width: 767px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <img src="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg" alt="Appetizer" >
        </picture>     
        
        <div class="coursemeal-info">
            <a href="<%= bestGPU4K_path %>" class="coursemeal-info__link">Meilleur GPU 4K</a>
        </div>
    </div>

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
            <a href="<%= bestGPU2K_path %>" class="coursemeal-info__link">Meilleur GPU 2K</a>
        </div>            
    </div>

    <!-- Meilleur GPU HD-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://i.pinimg.com/474x/c5/0f/59/c50f59398f83289a415056a923fef567.jpg">
            <source media="(min-width: 767px)" srcset="https://i.pinimg.com/474x/c5/0f/59/c50f59398f83289a415056a923fef567.jpg">
            <source srcset="https://i.pinimg.com/474x/c5/0f/59/c50f59398f83289a415056a923fef567.jpg">
            <img src="https://i.pinimg.com/474x/c5/0f/59/c50f59398f83289a415056a923fef567.jpg" alt="Desserts">
        </picture>

        <div class="coursemeal-info">
            <a href="<%= bestGPUHD_path %>" class="coursemeal-info__link">Meilleur GPU Full HD</a>
        </div>              
    </div>
</div>    