<div class="demo coursemeal">
   
    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
            <a href="<%= mb58003d_path %>" class="coursemeal-info__link">AMD carte mère spéciale <FONT COLOR="#ff0000">5800x3D</FONT></a>
        </div>            
    </div>  

    <!-- Meilleur pc 2K-->
    <div class="coursemeal__div ">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source media="(min-width: 767px)" srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <source srcset="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg">
            <img src="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg" alt="Appetizer" >
        </picture>     
        
        <div class="coursemeal-info">
            <a href="<%= x570_path %>" class="coursemeal-info__link">AMD carte mère <FONT COLOR="#ff0000">X570</FONT></a>
        </div>
    </div>

    <!-- Meilleur GPU 2K-->
    <div class="coursemeal__div">
        
        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source media="(min-width: 767px)" srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <source srcset="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg">
            <img src="https://programadoresbrasil.com.br/wp-content/uploads/2020/10/pcgamer.1.jpg" alt="Main Course" >
        </picture> 
        
        <div class="coursemeal-info">          
        <a href="<%= b550_path %>" class="coursemeal-info__link">AMD carte mère <FONT COLOR="#ff0000">B550</FONT></a>
        </div>            
    </div> 
     
</div>    