<div class="demo coursemeal">
<!-- 6700 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$">
        <source media="(min-width: 767px)" srcset="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$">
        <source srcset="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/be_fr/lc27g75tqsrxen/gallery/be-fr-odyssey-g7-c27g75t-lc27g75tqsrxen-412141834?$2160_1728_PNG$" alt="Main Course" >
    </picture> 

    <div class="coursemeal-info">
        <a href="<%= mbIntel_path %>" class="coursemeal-info__link">1. SAMSUNG ODYSSEY G7, 27, 2560 x 1440, 240HZ</a>
        <h2> Cliquez <a href="https://amzn.to/3P0gLJc" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3MUbJMj" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3yh4rOI" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3vMEVPQ" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>

<!-- 3090-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/61VbSn4oT+S._AC_SL1200_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/61VbSn4oT+S._AC_SL1200_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/61VbSn4oT+S._AC_SL1200_.jpg">
        <img src="https://m.media-amazon.com/images/I/61VbSn4oT+S._AC_SL1200_.jpg" alt="Desserts">
    </picture>

    <div class="coursemeal-info">
        <a href="<%= best1080_path %>" class="coursemeal-info__link">2. ASUS ROG PG279QM 27 Fast IPS 240Hz 2560x1440</a>
        <h2> Cliquez <a href="https://amzn.to/37ZYGdG" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3MlsArA" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>              
</div>

<!-- 6900 XT-->
<div class="coursemeal__div">
    
    <picture class="responsive-img">
        <source media="(min-width: 992px)" srcset="https://m.media-amazon.com/images/I/71Zig7PKmpL._AC_SL1500_.jpg">
        <source media="(min-width: 767px)" srcset="https://m.media-amazon.com/images/I/71Zig7PKmpL._AC_SL1500_.jpg">
        <source srcset="https://m.media-amazon.com/images/I/71Zig7PKmpL._AC_SL1500_.jpg">
        <img src="https://m.media-amazon.com/images/I/71Zig7PKmpL._AC_SL1500_.jpg" alt="Main Course" >
    </picture> 
    
    <div class="coursemeal-info">          
        <a href="<%= best1440_path %>" class="coursemeal-info__link">3. Acer Predator XB273UGXbmiipruzx 27 2560 x 1440 270hz OC IPS</a>
        <h2> Cliquez <a href="https://amzn.to/3wTpXqH" target="_blank"><img src="https://www.actuabd.com/local/cache-vignettes/L128xH128/arton24015-9857b.png?1579983094 " alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://www.nouvelobs.com/codepromo/static/shop/35062/logo/code-promo-cybertek.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/fr/3/30/Logo-Grosbill.png" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
        <h2> Cliquez <a href="https://tidd.ly/3LpKHew" target="_blank"><img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/96x96/3596dfa183ab04644e9df2d17e08747d" alt="francetfv-education-logo-mini éducation"/></a> pour acheter </h1>
    </div>            
</div>


</div>    



