<nav class="navbar navbar-transparent" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->     
     <%= link_to image_tag("http://www.thegrandtest.com/wp-content/uploads/2017/11/Nanoleaf-Aurora-Rhythm-01.jpg", height:"45", width:"65"), root_path, class:"navbar-header", id:"panda" %>
                
    <div class="navbar-header">
      
       
      <%= link_to "WARZONE PC PERFORMANCE", root_path, class:"navbar-brand", style:"font-weight: 850" %>

      


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




