<nav class="navbar navbar-transparent" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->     
     <%= link_to image_tag("https://styles.redditmedia.com/t5_bfi70k/styles/communityIcon_nhyxpcz4np5f1.png", height:"45", width:"65"), root_path, class:"navbar-header", id:"panda" %>
                
    <div class="navbar-header">
      
       
      <%= link_to "WARZONE PC PERFORMANCE", root_path, class:"navbar-brand", style:"font-weight: 850" %>

      


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




